name: 02-1 - Staging - Docker GHCR

on:
  workflow_call:
    inputs:
      docker-mode:
        required: false
        type: string
        default: ""

env:
  REGISTRY: ghcr.io
  USERNAME: ${{ github.actor }}
  IMAGE_NAME: ${{ github.repository }} #orga/repo

jobs:
  Display_Data:
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "Docker Registry: ${{ env.REGISTRY }}"
          echo "Docker Username: ${{ env.USERNAME }}"
          echo "Docker Image Name: ${{ env.IMAGE_NAME }}"
          echo "Docker Mode: ${{ inputs.docker-mode }}"

  Build-Push-Docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ env.USERNAME }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Downcase Image Name
        run: echo "IMAGE_NAME_LOWER=${GITHUB_REPOSITORY,,}" >> ${GITHUB_ENV}

      - name: Back Build and Push Docker Image
        uses: docker/build-push-action@v4
        with:
          context: backend
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME_LOWER }}-back:latest

      - name: Front Build and Push Docker Image
        uses: docker/build-push-action@v4
        with:
          context: frontend
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME_LOWER }}-front:latest
          build-args: MODE=:canary
